@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

html,
root {
  background-color: #222222;
  color: #fff;
  font-family: itim;
}

.char {
  border-radius: 50%;
  width: 5%;
  position: absolute;
  transition: ease-in-out 5s;
}

.moving {
  animation: rotateShake 1.25s infinite;
}

@keyframes rotateShake {
  0% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(10deg) scale(1.0005);
  }
  50% {
    transform: rotate(-10deg) scale(1.005);
  }
  75% {
    transform: rotate(10deg) scale(1.0005);
  }
}

.rotate-shake-scale {
  animation: rotateShakeScale 0.6s ease-in-out infinite;
}

.input {
  width: 50%;
  background-color: #222222;
  color: #fff;
  border: #fff solid;
}
